@import url("https://fonts.googleapis.com/css2? family= Lexend+Deca & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Lexend+Deca & display=swap");
@media (min-width: 768px) and (max-width: 1150px) {
  main {
    width: 100% !important;
  }
  main .card {
    width: 450px !important;
    height: 790px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .card__info {
    margin: 0 auto !important;
    position: relative !important;
    bottom: 290px !important;
    text-align: center;
  }
  main .card__info--desc {
    position: relative;
    top: 10px;
    bottom: 0;
  }
  main .card__stats {
    width: 100%;
    position: absolute !important;
    top: 190px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .card__stats div {
    margin-bottom: 30px;
  }
  main .card__stats div p {
    text-align: center;
  }
  main .card__stats div h2 {
    text-align: center;
  }
  main .card .imgBox {
    width: 100% !important;
    height: 318px !important;
    background-image: url("../../../images/image-header-mobile.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 10px 10px 0 0 !important;
  }
  main .card .imgBox:before {
    top: 0px !important;
    right: 0px !important;
    left: 0px !important;
    bottom: 472px !important;
    border-radius: 10px 10px 0 0 !important;
  }
}

@media (max-width: 425px) {
  main {
    width: 100% !important;
  }
  main .card {
    width: 350px !important;
    height: 800px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .card__info {
    width: 300px !important;
    margin: 0 auto !important;
    position: relative !important;
    bottom: 270px !important;
    text-align: center;
  }
  main .card__info--desc {
    position: relative;
    top: 10px;
    bottom: 0;
  }
  main .card__stats {
    width: 100%;
    position: absolute !important;
    top: 230px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .card__stats div {
    margin-bottom: 20px;
  }
  main .card__stats div p {
    text-align: center;
  }
  main .card__stats div h2 {
    text-align: center;
  }
  main .card .imgBox {
    width: 100% !important;
    height: 318px !important;
    background-image: url("../../../images/image-header-mobile.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 10px 10px 0 0 !important;
  }
  main .card .imgBox:before {
    top: 0px !important;
    right: 0px !important;
    left: 0px !important;
    bottom: 482px !important;
    border-radius: 10px 10px 0 0 !important;
  }
}

@media (max-height: 790px) {
  main {
    width: 100% !important;
  }
  main .card {
    width: 350px !important;
    height: 630px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .card__info {
    width: 300px !important;
    margin: 0 auto !important;
    position: relative !important;
    bottom: 230px !important;
    text-align: center;
  }
  main .card__info--desc {
    position: relative;
    top: 10px;
    bottom: 0;
  }
  main .card__stats {
    width: 100%;
    position: absolute !important;
    top: 210px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .card__stats div {
    margin-bottom: 20px;
  }
  main .card__stats div p {
    text-align: center;
  }
  main .card__stats div h2 {
    text-align: center;
  }
  main .card .imgBox {
    width: 100% !important;
    height: 200px !important;
    background-image: url("../../../images/image-header-mobile.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 10px 10px 0 0 !important;
  }
  main .card .imgBox:before {
    top: 0px !important;
    right: 0px !important;
    left: 0px !important;
    bottom: 430px !important;
    border-radius: 10px 10px 0 0 !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #090b1a;
  color: white;
}

main .card {
  height: 400px;
  background-color: #1b1938;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .card__info {
  font-family: "Inter", sans-serif;
  width: 350px;
  margin: 60px 150px 60px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .card__info span {
  color: #aa5cdb;
}

main .card__info--desc {
  position: relative;
  bottom: 25px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.75);
}

main .card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 15px;
}

main .card__stats h2 {
  margin-bottom: 10px;
}

main .card__stats p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

main .card .imgBox {
  width: 500px;
  height: 100%;
  background: url("../../images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 10px 10px 0;
}

main .card .imgBox:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 570px;
  bottom: 0;
  background-color: #6b2796;
  opacity: 0.5;
  border-radius: 0 10px 10px 0;
}
/*# sourceMappingURL=main.css.map */